body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  border-bottom: 1px solid #e8ebeb;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px red solid; */
}

.logo-deliveroo {
  width: 160px;
}

.top-card h1 {
  font-size: 32px;
  line-height: 26.7px;
  color: #2e3333;
  font-weight: bold;
  margin: 30px 0;
}

.top-card p {
  font-size: 19px;
  line-height: 28.8px;
  color: #868a8a;
  margin-right: 55px;
}

.top-card img {
  width: 350px;
  margin: 30px 0;
  border-radius: 10px;
}

.top-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  border-top: 0.1px solid rgba(128, 128, 128, 0);
  margin-top: 25px;
  background-color: #f2f5f5;
}

.bloc-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.validate-container {
  width: 350px;
  height: 185px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
}

.validate-container span {
  color: #9c9f9f;
  margin-top: 2rem;
}

.validate {
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  background: #bac3c3;
  color: #8b9a9b;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  width: 95%;
}

.show-all-cards {
  width: 820px;
}

h2 {
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  margin: 25px 0;
}

.meal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.meal-card .minicard:nth-child(odd) {
  margin-right: 20px;
}

.minicard {
  width: 400px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.minicard:hover {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 12px 11px 8px #e0dede;
          box-shadow: 12px 11px 8px #e0dede;
  background-color: #00ccbc;
}

.minicard:hover p {
  color: black;
}

.right-minicard img {
  height: 130px;
  width: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-left: 10px;
}

.left-minicard p {
  height: 40px;
  overflow-y: hidden;
  color: #808484;
  line-height: 20.8px;
  font-size: 14px;
  margin-bottom: 1rem;
}

.left-minicard h3 {
  font-size: 18px;
  line-height: 15.6px;
  margin-bottom: 1rem;
}

.left-minicard span {
  font-size: 17px;
  line-height: 14.7px;
  color: #808484;
}

.left-minicard span {
  margin: 0px 0.4rem;
}

.left-minicard .famous {
  color: #ff8001;
  font-size: 12px;
  line-height: 10.7px;
  font-weight: bold;
}

.left-minicard .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1250px) {
  header {
    margin: 1rem;
  }
}
/*# sourceMappingURL=App.css.map */